.places {
    max-width: 984px;
    padding: 92px 148px 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 80px;
}  

@media (max-width: 1150px) {
    .places {
        padding: 92px 48px 0;
    }  
}

@media (max-width: 900px) {
    .places {
        padding: 88px 24px 0;
        gap: 73px;
    }  
}

@media (max-width: 450px) {
    .places {
        padding: 64px 0 0;
        gap: 50px;
    }  
}