.cover__subtitle {
    margin: 32px 0 0;
    max-width: 360px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    z-index: 1;
}

@media (max-width: 700px){
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
    }
}

@media (max-width: 425px){
    .cover__subtitle {
        margin: 16px 0 0;
        max-width: 288px;
        box-sizing: border-box;
        padding: 0 16px;
    }
}
