.intro {
    max-width: 690px;
    padding: 86px 0 0 148px;
    display: flex;
    flex-direction: column;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    color: #FFFFFF;
}

@media (max-width: 1150px) {
    .intro {
        padding: 92px 0 0 48px;
    }
}

@media (max-width: 900px) {
    .intro {
        max-width: 720px;
        padding: 88px 0 0 24px;
    }
}

@media (max-width: 768px) {
    .intro {
        max-width: 100%;
        padding: 88px 24px 0;
    }
}


@media (max-width: 425px) {
    .intro {
        max-width: 100%;
        padding: 64px 16px 0;
    }
}
